<nav>
    <b>
      <a href="#" target="_blank">Home</a>

      <!-- <a href="#">Checkbook</a> -->
      <a href="profile">Profile</a>
      <a href="#">Withdraw</a>
      <a href="addmoney">Add Money</a>
      <a href="balance">Check Balance</a>
      <a href="#">Contact us</a>
    </b>
  </nav>