<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ATM | ADD MONEY</title>
  <link rel="stylesheet" href="add_money.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
$(document).ready(function(){
  $("form").submit(function(){

alert("Success!!\nMoney has been added")
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   
   $('#content').load("navbar.html");

});
</script>
</head>

<body>
  <header class="show">
    <h1>
      <big><b> Bank Name</b></big>
    </h1>
  </header>

  <div id="content"></div>
  <div class="main">
    <form action="">
      <h1 class="heading"><b><big> ADD MONEY </big> </b> </h1>
      <div class="main1">
        <p class="part1">Enter The Amount: <input type="number" name="number" id="number" max="10000" min="100" required></p>

      </div>
      <div class="page1">
        <p>
            Select Account
            <select name="transfer" id="transfer">
                <option value="primary">Primary</option>
                <option value="saving">Saving</option>
            </select>
        </p>
    </div>
      <div class="sub">

        
        <input type="submit" value="Deposit" class="submit" >
      </div>

  </form>
  </div>
 
</body>

</html>