<!DOCTYPE html>
<html>
  <head>
    <title>ATM | NAME</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="landing.css" />
    <link href="new/css/all.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Welcome to Our Bank</h1>
        </header>

        <div class="flex">
          <div>
            <span class="fas fa-donate fa-2x"></span>
            <h3>Deposit</h3>
          </div>

          <div>
            <span class="fas fa-money-check-alt fa-2x"></span>
            <h3>Withdraw</h3>
          </div>

          <div>
            <span class="fas fa-money-bill fa-2x"></span>
            <h3>Balance</h3>
          </div>

          <div>
            <span class="fas fa-walking fa-2x"></span>
            <h3>Transfer</h3>
          </div>
        </div>

        <footer>
          <a href="login.html" class="button">Login</a>
          <a href="contact.html" class="button1">CONTACT US</a>
        </footer>
      </div>
    </section>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
