<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="home.html">Home</a>
        <a href="profile.html">Profile</a>
        <div class="dropdown">
          <button class="dropbtn">Banking 
            
          </button>
          <div class="dropdown-content">
            <a href="add_money.html">Add Money</a>
            
            <a href="Withdraw_money.html">Withdraw Money</a>
          </div>
        </div> 

            
            <a href="Transfer.html">Transfer Money</a>
        <a href="checkbook_confirm.html">Checkbook Renewal</a>
       
      </div>
</body>
</html>