<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ATM | Withdraw Money</title>
  <link rel="stylesheet" href="/Withdraw_money.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
$(document).ready(function(){
  $("form").submit(function(){

alert("Success!!\nMoney has been withdrawn")
  });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   
   $('#content').load("navbar.html");

});
</script>
</head>

<body>
  <header class="show">
    <h1>
      <big><b> Bank Name</b></big>
    </h1>
  </header>
  <div id="content"></div>
  
  <%- include('./partials/navbar.ejs')%>

  <div class="main">
    <form action="/clients/withdrawmoney" method="POST">
      <h1 class="heading"><b><big> WITHDRAW MONEY </big> </b> </h1>
      <div class="main1">
        <p class="part1">ENTER THE AMOUNT: <input type="number" name="number" id="number" max="10000" min="100" required></p>

      </div>
      <div class="sub">

        <input type="submit" value="PRIMARY ACCOUNT" class="submit" >
        <input type="submit" value="SAVING ACCOUNT" class="submit" >
      </div>

  </form>
  </div>
 
</body>

</html>