<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ATM | ADD MONEY</title>
  <link rel="stylesheet" href="/add_money.css" />
</head>

<body>
  <header class="show">
    <h1>
      <big><b> Bank Name</b></big>
    </h1>
  </header>

  <%- include('./partials/nav.ejs')%>

  <div class="main">
    <form action="/clients/addmoney" method="POST">
      <h1 class="heading"><b><big> ADD MONEY </big> </b> </h1>
      <div class="main1">
        <p class="part1">ENTER THE AMOUNT: <input type="number" name="number" id="number" max="10000" min="100"
            required></p>

      </div>
      <div class="sub">

        <input type="submit" value="ADD TO PRIMARY ACCOUNT" name="submit" class="submit" onclick="myFunction()">
        <input type="submit" value="ADD TO SAVING ACCOUNT" name="submit" class="submit" onclick="myFunction()">
      </div>
  </div>




  </div>
  </form>
  </div>
  <script class="script">
    function myFunction() {

      swal("Are you sure you want to do this?", {
        buttons: ["Oh noez!", "Aww yiss!"],
      });
    }

  </script>
</body>

</html>